---
layout: page
title: Shobhit Puri
header-img: img/home-bg.jpg
description: >-
  Mobile Apps Development Enthusiast | Software Developer | Badminton Enthusiast
  | Social Welfare | Searching for soul enlightenment
published: true
---

<!-- About Content -->
<section id="about">
	<div>
    	<p><font size="5">Who am I?</font></p>
		<p>Hi, I am a Mobile Application Development enthusiast. I've been enjoying developing apps for 7+ years now. I also got certified as an Amazon Certified Solutions Architect and have been working with Amazon Web Services for 3+ years. I thoroughly enjoy working on new and exciting technologies. Some of my previous projects include developing app to help with homelessness, app for drug relapse prevention for people with additive disorders, app to help seniors read better on mobile devices, mobile payment solutions with Bluetooth Low Energy, NFC and QR code, app for enabling user to secure login to web services leveraging chip cards and mobile devices.
		</p>

    	<p><font size="5">What am I up to?</font></p>
		<p>
			<ul>
				<li>
					I have been running a company called Puri Technologies Ltd. which provides software development and consulting services.
				</li>
				<li>
					I've been helping <a href="https://www.realtor.com" target="_blank">Realtor.com&copy;</a> to maintain and improve their <a href="https://play.google.com/store/apps/details?id=com.move.realtor" target="_blank">Android</a> and <a href="https://apps.apple.com/us/app/realtor-com-real-estate-search/id336698281" target="_blank">iOS</a> app, which has over 10 million installs.					
				</li>
				<li>
					Before that I was leading an Android team at <a href="https://www.traderev.com" target="_blank">TradeRev</a>, which is an online automotive remarketing system. 					
				</li>
				<li>
					I was also recently volunteering with a distributed team of <a href="https://miraclemessages.org/" target="_blank">Miracle Messages</a> - a non-profit organization that helps reunite homeless people with their loved ones - to help develop their Android and iOS applications. 					
				</li>
			</ul>
		</p>

    	<p><font size="5">What I have to offer?</font></p>
		<p>
			I believe that for creating something useful, its necessary for people with diverse professional backgrounds to come together. If you have a great idea that would have a positive effect on society, I would love to offer my skills.
		</p>
        
		<p><font size="5">What are my beliefs?</font></p>
		<p>As an individual, I am not running behind money, prestige or fame. Its happiness what I crave for. To gain happiness, Chanakya, the very famous Indian philosopher and economist from 300 B.C has defined seven basic ingredients: <br><br>
पहला सुख निरोगी काया | दूजा सुख घर में हो माया ||<br>
तीजा सुख कुलवंत हो नारी | चौथा सुख सुत हो आज्ञाकारी ||<br>
पांचवा सुख हो सुंदर वासा | छठा सुख हो सज्जन पासा ||<br>
सातवा सुख हो मित्र घनेरे | ऐसे नर नहीं जग बहुतेरे ||<br>
<br>
It means that the foremost requirement of happiness is a healthy body. Second is having enough money to sustain a decent living. Third is having a beloved and faithful wife/husband. Fourth is to have obedient children. Fifth is to have a hospitable home. Sixth is always being surrounded by good people. Seventh is having faithful friends. One eighth additional ingredient which gives me tremendous joy is the act of giving.
		</p>     
      
	    <p><font size="5">What else I love?</font></p>
		<p>I love playing Badminton(Played National Level) and Ping Pong.
      	</p>
        
      
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<a id="href-portfolio">
			<h3>Fun projects:</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
